35 1/2 echo "This command is run every 35 seconds (instance 1)"
35 2/2 echo "This command is run every 35 seconds (instance 2)"
2 1/4 echo "This command is run every 2 seconds (instance 1)"
2 2/4 echo "This command is run every 2 seconds (instance 2)"
2 3/4 echo "This command is run every 2 seconds (instance 3)"
2 4/4 echo "This command is run every 2 seconds (instance 4)"
